<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFIRM BOOKING | <%= room_number %></title>
</head>
<body>

    <form action="/confirm-booking/<%= room_number %>" method="post">
        
        <h3>Your Friends:</h3>

        <% if (friends && friends.length > 0) { %>
            <ul>
                <% friends.forEach(function(friend) { %>
                    <li>
                        <% if (friend.profilePic) { %>
                            <img src="<%= friend.profilePic %>" alt="Profile picture" width="30" height="30" style="border-radius: 50%;">
                        <% } %>
                        <span><%= friend.username %></span>
                        
                        </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>You currently have no friends to add to this booking.</p>
        <% } %>

        <button type="submit">Confirm Booking</button>
    </form>
    
</body>
</html>