<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Confirm your booking for Room: <%= room_number %></h2><hr>
    <form method="post" action="/api/book-room/<%= room_number %>">

        <button type="submit">Confirm Booking</button>

    </form>
</body>
</html>