<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFIRM BOOKING | <%= room_number %></title>
</head>
<body>

    <form select="/confirm-booking/<%= room_number %>" method="post">

    <% for(let i = 0;i<data.length;i++) { %>

        <input type="email" placeholder="Email ID of Roommate">
        
    
    <% } %>
    </form>
    
</body>
</html>