<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYTC-2027</title>
</head>
<body>

    <h2></h2>
    <hr>
    <ul>
        <li><a href="/new-application">New Application</a></li>
        <li><a href="/check-status-of-existing-application">Check Status of Existing Application</a></li>
    </ul>

</body>
</html>