<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(message) { %>

        <h4 style="color:green"><%= message %></h4>
    
    <% } %>
    <% if(hostels && hostels.length>0){ %>
    
    <ul>
        <% hostels.forEach(function(hostels){ %>
        <li><a href="/hostel/<%= hostels.id %>"><%= hostels.hostel_name %></a></li>

        <% }) %>
            </ul>

    <% } else { %>
<p class="small">No Hostels Available!</p>
        <% } %>
    
</body>
</html>