<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
    <% hostels.forEach(function(hostels){ %>



        <li><a href="/hostel/<%= hostels.hostel_id %>"><%= hostels.hostel_name %></a></li>
    
    <%  }) %>
    </ul>
</body>
</html>