<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>New Application</h4><hr>
    <form action="/api/new-application" method="post">

        <input nam="applicant_name" type="text">
        <select name="region"><option value="A">A</option></select>
        <select name="branch"><option value="A-1">A-1</option></select>
        <input name="dob" type="date">
        <button type="submit">Submit Application</button>

    </form>
    
</body>
</html>